/* 信息 */
.heima-info{
    padding: 50px;
    border-bottom: 1px solid #ccc;
}
.heima-info >.container{
    width: 1000px;
}
.heima-info .heiam-icon{
    font-size: 28px;
}
.heima-info .col-md-4{
    padding: 15px;
}
.heima-info a:hover{
    color: #e92322;
    text-decoration: none;
}
/* s */
/* 预约 */
.heima-book{
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}
.heima-book > .container{
    width: 1000px;
}
@media screen and(max-width:768px)
{
    .heima-book > .container{
        width: 100%;
    }
}
.heima-book .heiam-icon
{
    font-size: 20px;
}
.heima-book a:hover
{
    color: #e92322;
    text-decoration: none;
}

.heima-book .book-link{
    color: #e92322;
    border-bottom: 1px solid #e92322;     
}

/* 字体图标 */
/* .heima-icon-A::before{
     content: url(../红包雨/images/1.png);  
} */